
@font-face {
  font-family: Maven;
  src: url(../fonts/MavenPro-Regular.ttf);
}
@font-face {
  font-family: Relavey;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: FrancoisOne;
  src: url(../fonts/FrancoisOne-Regular.ttf);
}

@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt-Regular.ttf);
}

@font-face {
  font-family: Didact;
  src: url(../fonts/DidactGothic-Regular.ttf);
}